* {
    max-width: 100vw;
}


header {
    background-color: gray;
    color:white;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.title {
    display:flex;
    justify-content: center;
    font-size: 50px;
}

#quizbox {
    margin: 20px;
    padding: 20px;
    border: 2px black solid;
    background-color: darkgray;
    color: white;
    min-height: 200px;
    min-width: 400px;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 30px;
}

#timer {
    margin-right: 50px;
    font-size: 20px;
}

.btn {
    background: white;
}

.btn:hover {
    background: lightblue;
}